
html, body {
	padding : 0px;
	margin-right : 20px;
	margin-left : 20px;
	margin-top : 0px;
	margin-bottom : 0px;
	height: 99%;
}

button { z-index: 1000;}

#about 	{ padding: 40px; font-size: 14pt; font-family: "Arial, Helvetica"; }
#editor { }
#ilogs  { }
#prefs  { margin: 10px; width: calc(100% - 10px); }
#score  { }
#closePreview  { 
	position: absolute; 
	left: 15px; 
	top: 10px; 
	z-index: 10000; 
	border: none; 
	font-size: 2em;
	background: none; 
	visibility: hidden;
}

#code 	{ resize: none; width: 100%; height: calc(100% - 47px); }
#logs 	{ 
	padding: 5px; 
	height: calc(100% - 50px);
	border-radius: 8px; 
	background: rgb(243, 243, 240);
	line-height: 1.3em;
}
#scene { height: calc(100% - 45px); }
#inscore-name { color: rgb(83, 82, 82); font-size: 90%;}

.CodeMirror {
    height: calc(100% - 45px);
    overflow: auto;
}

.toolbar 	{ 
	text-align: center;
	padding-top: 10px;
}

.acknow {
	font-size: 90%;
}

.img-centered {
	display: block;
    margin-left: auto;
    margin-right: auto 
}

#loading {
	display: block;
	margin: auto;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

 .toolbar-left 	{ 
	text-align: left;
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 10px;
 }

.warning {
	font-weight: bold;
	font-size: 105%;
}
.error {
	font-weight: bold;
	font-size: 105%;
	color: red;
}

.prefs-table > td {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
.btn-success { height: 30px; font-size: 90%; border-width: 1px; }
.header 	{ grid-area: header; }
.left 	    { grid-area: left; }
.right 		{ grid-area: right; }
.footer 	{ grid-area: footer; 
	padding: 5px;
	text-align: center;
	border-width: 0;
	border-radius: 5px;
	font-size: 90%;
	background: #dddddd;
	width: 100%
}
.tab-content    { height: calc(100% - 50px); }
.tab-pane		{ width: 100%; height: 100%; overflow-y: auto; }
.grid-container {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50px calc(100% - 50px) auto;
	grid-template-areas:
	  'header header'
	  'left right'
	  'footer footer';
	align-content: start;
	grid-gap: 10px;
	padding: 5px;
	height: calc(100% - 50px);
  }
	
.grid-container > div {
  background-color: rgba(255, 255, 255, 1);
  padding: 0 0;
  font-size: 14px;
}


@media only screen and (max-width: 768px) {
	html, body {
		padding : 0px;
		margin-right : 5px;
		margin-left : 5px;
		margin-top : 0px;
	}

 	li > .dropdown-menu { font-size: 100%; }
	.navbar  	{ font-size: 120%; z-index: 10;}
	.tab-pane  	{ font-size: 120%; }
	.nav-tabs  	{ font-size: 110%; }
	.grid-container {
	  display: grid;
	  grid-template-columns: 100%;
	  grid-template-rows: 50px 40% 50% calc(100% - 50px);
	  grid-template-areas:
		'header'
		'left '
		'right'
		'footer';
	  grid-gap: 5px;
	  padding: 5px;
	}

	/* #loading {
		scale: 25%;
	} */	
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
